body 
    background #fffae6

#app 
   font-family: Avenir, Helvetica, Arial, sans-serif
   -webkit-font-smoothing: antialiased
   -moz-osx-font-smoothing: grayscale
   color: #2c3e50
   margin-top: 60px

.container
    width: 100%
    max-width: 1200px
    margin: auto
    position: relative

.blocky 
    grid-column: 1 / span 2

@media screen and (max-width: 599px)
    .container 
        max-width: 480px

@media screen and (max-width: 979px)
    .container 
        max-width: 600px

@media screen and (max-width: 1200px)
    .container 
        max-width: 980px


    